<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - MovieWeb App</title>
    <link rel="stylesheet" href="/static/style.css" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>Welcome to MovieWeb App!</h1>
    </header>
    <main>
      <p class="intro-text">This is the Homepage of the MovieWeb App.</p>
      <a href="/users/1/add_movie" class="button">Add a New Movie</a>
      <a href="/users/1/add_user" class="button">Add a New User</a>
    </main>
    <footer>
      <p>&copy; 2024 Movie App</p>
    </footer>
  </body>
</html>
