<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Movies</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
  </head>
  <body>
    <header>
      <h1>Movies for User {{ user_id }}</h1>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in movies %}
          <tr>
            <td>{{ movie.name }}</td>
            <td>{{ movie.director }}</td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.rating }}</td>
            <td>
              <a
                class="button"
                href="{{ url_for('update_movie', user_id=user_id, movie_id=movie.id) }}"
                >Edit</a
              >
              |
              <form
                action="{{ url_for('delete_movie', user_id=user_id, movie_id=movie.id) }}"
                method="POST"
                style="display: inline"
              >
                <button class="button" type="submit">Delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="button" href="{{ url_for('add_movie', user_id=user_id) }}"
        >Add New Movie</a
      >
      <a class="button" href="{{ url_for('home') }}">Back to Home</a>
    </main>
    <footer>
      <p>&copy; 2024 Movie App</p>
    </footer>
  </body>
</html>
